:root {
  --color-background-default: #fbf8f5;
  --color-text-dark: #142c3f;
  --color-text-light: #fbf9db;
  --color-accent-royale-blue: #234e70;
  --color-accent-pale-yellow: #fbf8be;

  --msu-green: #284c45ff;
  --polished-pine: #6d998cff;
  --hookers-green-2: #406a5fff;

  --baby-blue: #ebfdf9;
  --sand-dune: #f3eada;
  --hookers-green: #47756bff;
  --dark-jungle-green: 13, 26, 24;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-dark);
  background: var(--color-background-default);
  transition: color 0.5s, background-color 0.5s;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
