:root {
  --color-primary-900: #47294c;
  --color-primary-800: #603260;
  --color-primary-700: #6f376b;
  --color-primary-600: #7d3e74;
  --color-primary-500: #88447a;
  --color-primary-400: #9a588c;
  --color-primary-300: #ac729f;
  --color-primary-200: #c598bb;
  --color-primary-100: #dbc0d5;
  --color-primary-50: #f0e6ee;

  --color-secondary-red-900: #4c292e;
  --color-secondary-red-800: #5d363a;
  --color-secondary-red-700: #6d4243;
  --color-secondary-red-600: #7f4e4e;
  --color-secondary-red-500: #8c5756;
  --color-secondary-red-400: #9f706f;
  --color-secondary-red-300: #b28a88;
  --color-secondary-red-200: #cbabaa;
  --color-secondary-red-100: #e5cbca;
  --color-secondary-red-50: #fbe9e6;

  --color-secondary-sand-900: #292506;
  --color-secondary-sand-800: #4c4729;
  --color-secondary-sand-700: #6c6647;
  --color-secondary-sand-600: #817a5a;
  --color-secondary-sand-500: #aba482;
  --color-secondary-sand-400: #cac29f;
  --color-secondary-sand-300: #ede5c1;
  --color-secondary-sand-200: #faf1cd;
  --color-secondary-sand-100: #fff6d2;
  --color-secondary-sand-50: #fffbd6;

  --z-index-navigation: 999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(var(--color-pale-yellow));
  background: rgb(var(--color-logan));
  transition: color 0.5s, background-color 0.5s;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
