@import "./base.css";

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

/* a {
  color: black;
  font-size: 1.1rem;
}

a:hover {
  color: #ff00c7b3;
} */

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: var(--color-background-default);
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--color-text-dark);
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--url-path) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
