@import "./base.css";
@import "./input.css";
@import "./button.css";

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: var(--color-background-default);
}

h1 {
  font-size: 4rem;
  color: var(--color-secondary-red-100);
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}
h3 {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(var(--color-pale-yellow));
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
h6 {
  font-size: 2rem;
  color: var(--color-secondary-sand-200);
  position: relative;
  display: inline-block;
  text-transform: lowercase;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--url-path) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: rgb(var(--color-pale-yellow));
  background-color: rgba(var(--color-copper-rose), 0.8);
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}

button:hover {
  color: rgb(var(--color-pale-yellow));
  background-color: rgb(var(--color-copper-rose));
}
